* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page--title {
    background-color: #0c243c;
    color: #7e8c9c;
    height: 50px;
    padding: 10px 0;
    text-align: center;
}

.profile {
    background: #55c2c3;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.profile--image {
    border-radius: 50%;
    height: 70px;
    margin-right: 7px;
    width: 70px;
}

.image-name {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.bio--title {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.profile--description {
    margin-bottom: 1rem;
}

.profile--paragraph {
    margin-block: 10px;
}

.profile-edit-button {
    background-color: #7e8c9c;
    border: none;
    border-radius: 5px;
    color: #0c243c;
    cursor: pointer;
    font-size: large;
    height: 25px;
    padding: 3px;
    width: 100px;
}

.profile-edit-button:active {
    box-shadow: inset 0 0 2px 3px rgb(83, 80, 80);
}
